#mypicture{
    border: 2 px;
width: 100%;
max-width: 500px;
min-width: 100px;
margin: auto;
border-radius:5px ;
display: block;}

p{
    color: blue;
font-style: italic;
font-family: arial;
font-weight: bold;
border-style: solid;
background-color:lightgrey;
border-radius: 5px;
}

#myself{
color:lightgreen;
font-weight: bold;
font-family: sans-serif;
font-style: italic;
border-style: dashed;
border-radius: 0;
}

body{
    color: midnightblue;
    background-image: linear-gradient(midnightblue, black, midnightblue)
}

#info{
    margin: 0 5% 0;
    text-align: center;
}


